@font-face {
	font-family: 'Inter';
	src: url('../public/font/Inter.ttf');
	font-weight: 500;
	font-display: swap;
}

@font-face {
  font-family: "NeueHaasDisplayBold";
  src: url("../public/font/NeueHaasDisplayBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasDisplayLight";
  src: url("../public/font/NeueHaasDisplayLight.ttf");
  font-display: swap;
}